<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/@picocss/pico/css/pico.green.min.css">
    <style>
        main {
            width: 80%;
            margin: auto;
            word-break: break-all;
        }
        #generate {
            margin: auto;
            display: block;
            margin-bottom: 20px;
        }
        #result {
            height: 600px;
        }
    </style>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <main>
        <blockquote>Click any of the options below to configure Cypht!</blockquote>
        {% for file in FILES %}
            <details>
                <summary>{{file | replace: ".php", ""}}</summary>
                {% for option in options[file] %}
                    <fieldset id="{{option.key}}">
                        <legend><h3>{{option.key}}</h3></legend>
                        {% if option.valueDefault %}<p>Default: {{option.valueDefault}}</p>{% endif %}
                        <p>{{option.commentHtml}}</p>
                        <input 
                            type="{{option.inputType}}"
                            name="{{option.key}}"
                            {% if option.valueDefault %}
                                {% if option.inputType == "checkbox" and option.valueDefault == "true" %}
                                    checked="true"
                                {% else %}
                                    value="{{option.valueDefault}}"
                                {% endif %}
                            {% endif %}
                        />
                    </fieldset>
                {% endfor %}
            </details>
            <hr>
        {% endfor %}

        <hr>

        <button id="generate">Generate .env file</button>
        <textarea id="result"></textarea>
    </main>
    <script src="form.js"></script>
</body>
</html>